body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 25px;
  background-image: url("mainbg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 0 1200px rgba(0,0,0,.5);
}

header {
  position: fixed;
  width: 100%;
  padding: 55px;
  margin: 25 10 10 10px;
  border: 10px;
  border-color: aquamarine;
}


.content {
  margin: 20px;
}

nav {
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;

}

nav a {
  /* float: left; */
  display:inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background: #ddd;
  color: black;
}


h1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
}

h2 {
  color: white;
  font-weight: bold;
}

h3 {
  color: white;
  font-weight: bold;
  text-decoration: underline;
  font-size: 17px
}

p {
  color: white;
}

ul {
  color: white;
}
