body {
  margin:0;
}
footer {
  text-align: center;
  font: 0.5px;
  font-family: sans-serif;
  border-top: 1px black solid ;
}

nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
nav ul {
  margin:0;
  padding:0;
}

nav li {
  float: left;
  list-style-type: none;
}

nav li a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav li a:hover {
  background: #ddd;
  color: black;
}
/* main.html */
.content {
  padding: 16px 0 ;
  margin-top: 30px;

  height: auto;
}
.content h1 {
  font: 64px lato;
  text-align: center;
  padding: 248 64px;
}
.grid-1 {
  text-align: center;
  font: 35px lato;
  background-color: #333;
  color: white;
  padding: 10px;
}

.mmbSection {
  margin: 0 10%;
  border: 0;
  padding: 40 10px;

}

.mName{
  width: 50%;
  display: inline;
  font: 20px lato;
  font-weight: bold;

}
.mId {
  width: 50%;
  display: inline;
  font: 20px lato;
  
}
.mPi {
  font: 1.05rem Helvetica;

}
.tools-content p{
  margin: auto;
  font: 20px Helvetica;
  margin-left: 10%;
  margin-right: 10%;
}


/* indt.html */
.iD-grid-1 {
  text-align: center;
  padding: 80px 10;
  font: 24px lato;
}
.ideal-jobs-table {
  border-collapse: collapse;
  margin: 0 10%;
}
.ideal-jobs-table td:first-child {
  background-color: #808080;
}
.ideal-jobs-table tr:first-of-type {
  background-color: #808080;
}
.ideal-jobs-table tr:nth-last-of-type(even) {
  background-color: #f3f3f3;
}
.ideal-jobs-table, th, td {
  border: 1px solid black;
}
.ideal-jobs-table th, .ideal-jobs-table td{
  padding: 12px 15px;
}


/* it.html */

.tech-grid {
  padding: 0 15px;
  border-bottom: 2px #333 solid;
  margin: 0 10%;
}

.it-grid-1 h1{
  text-align: center;
  padding: 150px;
  font: 60px Nunito;
  font-weight: bold;
  margin: auto;
  background-color: antiquewhite;
  border: 1px black solid;
  /* background-image: url("mainbg.jpg");
  color: white; */
}

.itP {
  font: 17px Helvetica;
  margin: 0 10%;
  border-bottom: 1px black solid;
}

h2 {
  font: 45px Helvetica;
  text-decoration: underline;
  margin: 20px 10%;
}
.tech-grid h3 {
  font:1.65em Helvetica ;
}

h4 {
  font: 18px Helvetica;
  font-weight: bold;
}
h5{
  font: 16px Helvetica;
  margin: auto;
}
.it-content-grid {
  font: 15px Helvetica;
}
/* project.html */
