html, p {
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
    font: 14px arial;
}
h1 {
    color: white;
    font: 20px;
    font-family: 'Times New Roman', Times, serif;
}
h3 {
    color: white;
    font: 16px courier bold;
}
body {
    margin: 25px;
    background-image: url("mainbg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0 0 0 1200px rgba(0,0,0,.5);
  }
header {
    width: 100%;
    height: 80px;
    background: #cccccc;
    position: fixed;
    margin: 0;
    clear: both;
    top: 0;
}

nav {
    background: rgba(71, 128, 225, 0.635);
    height: 60px;
    text-align:center;
}

nav ul {
    margin:0;
    padding:0;
}

nav li {
    float: left;
    list-style-type: none;
}
nav li a {
    font-size: 16px;
    color: black;
    display: block;
    line-height: 60px;
    padding: 0 10px;
    text-decoration: none;
}
nav li a:hover {
    color: #ddd;
    background: black;
}
.content {
    margin-top: 80px;
}

